<nav>
  <a title="<%= __("usuario.bienvenida",user) %>"><%= __("usuario.bienvenida",user) %></a>


  <a href="/admin/" title="<%= __("navbar.irHome")%>"><%= __("navbar.irHome")%></a>


  <a href="/" title="<%= __("navbar.irTransmision")%>"><%= __("navbar.irTransmision")%></a>


  <% /* Solo si soy super administrador */%>
  <% if(user.level >= publicData.superAdminLevel )
  {
    %>
  <a href="/admin/usuarios" title="<%= __("navbar.gestionUsuarios")%>"><%= __("navbar.gestionUsuarios")%></a>
  <%
  }%>

  <a href="/salir" title="<%= __("navbar.cerrarSesion")%>"><%= __("navbar.salir")%></a>

</nav>
