<%

if(!form.controller)
{
form.controller='saveController'
}

  if(typeof item === "undefined" || !item)
  {
    item={}
  }


%>

<form data-ng-init="init('<%= form.model%>',<%= JSON.stringify(item)%>)" data-ng-submit="save('<%= form.model %>')" id="<%= form.id %>" class="w3-col  <% if(typeof form.classes !== "undefined" && form.classes){ %><%= form.classes.join(" ") %><% }%>" data-ng-controller="<%= form.controller%>">

  <%

  for( k in form.components)
  {
    item = form.components[k];
  item.model =form.model+"."+item.attribute;

  %>


  <%-

    partial('componentes/'+item.element+'.ejs')
  %>


  <%

  }

  %>
  <span class="line"></span>
  <%- partial('bottom.ejs') %>

</form>
