


  <div data-ng-controller="userListadoCtrl" class="w3-col s12">
    <% for(var k in users)
    {
      var usuario=users[k];
    %>
    <article class="usuario nivel-<%= usuario.level %>  <% if (usuario.id==user.id){ %> me <% } %> ">



      <% if(usuario.name){%><span class="nombre"><%= usuario.name %></span><%}%>
      <% if(usuario.surname){%><span class="apellido"><%= usuario.surname %></span><%}%>


      <% if (!usuario.nombre && !usuario.apellido)
      {
        %>
     <span class="nombre">&nbsp;</span>
     <span class="apellido">&nbsp;</span>


      <%
      }
      %>

      <span class="nombreUsuario"><%= usuario.username %></span>


   <div class="actions">

     <% if(user.level >= publicData.canCreateUserLevel)
     {%>
        <a title="<%= __("editar") %>" href="/admin/usuario/<%= usuario.id %>" class="edit-usuario">
          <i class="material-icons">&#xE254;</i>
        </a>
    <%}%>

     <%if(user.level >= publicData.canDeleteUserLevel)
     {%>
     <!--deleteUsuario(<%= JSON.stringify(usuario)%>)-->
     <a  title="<%= __("eliminar") %>" class="delete-usuario"
       <%
        if(user.id != usuario.id)
        {
        %>
         data-ng-click="showModal('<%- __('usuarios.deletePrompt') %>','<%- __( "usuarios.areYouSure",usuario) %>','deleteUsuario(\'<%= usuario.id %>\')')"
       <%
       }
       else
       { %>
       data-disabled
       <%
       }%>
       >
       <i class="material-icons">&#xE872;</i>
     </a>
  <%}%>

   </div>


    </article>
    <%
    }
    %>
  </div>

  <script>

    app.controller('userListadoCtrl', function($rootScope,$http) {

      $rootScope.deleteUsuario=function(id)
      {


        $http.delete('/user/'+id)
        .then(function(res) {

            console.log(res);
            location.reload();
          }, error);
      }

    });
  </script>
