


  <div data-ng-controller="userListadoCtrl" class="w3-col s12">
    <% for(var k in transmisiones)
    {
      var transmision=transmisiones[k];
    %>
    <article class="usuario  ">



      <% if(usuario.name){%><span class="nombre"><%= usuario.name %></span><%}%>


   <div class="actions">

     <% if(user.level >= sails.config.minimumLevels.create.streaming)
     {%>
        <a title="<%= __("editar") %>" href="/admin/transmision/<%= transmision.id %>" class="edit-usuario">
          <i class="material-icons">&#xE254;</i>
        </a>
    <%}%>

     <%if(user.level >= sails.config.minimumLevels.delete.streaming)
     {%>
     <a  title="<%= __("eliminar") %>" class="delete-usuario"


         data-ng-click="showModal('<%- __('usuarios.deletePrompt') %>','<%- __( "usuarios.areYouSure",transmision) %>','deleteTransmision(\'<%= transmision.id %>\')')"

       >
       <i class="material-icons">&#xE872;</i>
     </a>
  <%}%>

   </div>


    </article>
    <%
    }
    %>
  </div>

  <script>

    app.controller('transmisionListadoCtrl', function($rootScope,$http) {

      $rootScope.deleteTransmision=function(id)
      {


        $http.delete('/streaming/'+id)
        .then(function(res) {

            console.log(res);
            location.reload();
          }, error);
      }

    });
  </script>
