<script>

  app.controller('userGuardarCtrl', function($rootScope,$http) {

    $rootScope.usuario={};




    console.log(    $rootScope.usuario);

    $rootScope.autogenerateSpan=
      [
        {dia:'<%= __("lun") %>',id:1},
        {dia:'<%= __("mar") %>',id:2},
        {dia:'<%= __("mie") %>',id:3},
        {dia:'<%= __("jue") %>',id:4},
        {dia:'<%= __("vie") %>',id:5},
        {dia:'<%= __("sab") %>',id:6},
        {dia:'<%= __("dom") %>',id:7}
      ]


    <%
if(typeof editUser === "object") {%>
    $rootScope.usuario = <%- JSON.stringify(editUser) %>
      $rootScope.usuario.level =  $rootScope.usuario.level.toString();
//    $('.selDiv option[value="'+$rootScope.usuario.level+'"]').prop('selected', true);

    if( $rootScope.usuario.autogenerateSpan)
    {
      for(k in $rootScope.usuario.autogenerateSpan)
      {
      var autogenerateSpanIdx=  $rootScope.autogenerateSpan.findIndex(function(el){{ return el.id==  $rootScope.usuario.autogenerateSpan[k].id}});

        $rootScope.autogenerateSpan[autogenerateSpanIdx]["ticked"]=true;


      }
    }

      <%
      }%>

    <%
    var levels={};
    for(k in publicData.userLevels)
    {

        levels[k]={nivel:publicData.userLevels[k],nombre:__("usuarios.niveles."+k)};

    }

    %>





    $rootScope.levels= <%- JSON.stringify(levels)%>



    $rootScope.saveUsuario=function(usuario)
    {


      $http.post('/user<%if(typeof editUser === "object"){%>/<%= editUser.id%><%}%>', usuario).
        then(function(res) {

         location.href="/admin/usuarios";
        }, error);

    }


  });
</script>
<footer>
  <div class="acciones">

    <div class="btn-group">
      <button data-ng-click="saveUsuario(usuario)" class="submit" >Guardar</button>
    </div>

  </div>
</footer>
